# Local .terraform directories
**/.terraform/*

# Local code directories
**/build/*
**/builds/*
**/node_modules/*

# secrets
**/Secrets.plist
**/GoogleService-Info.plist

# .tfstate static_site
*.tfstate
*.tfstate.*

# .tfvars static_site
*.tfvars

# plan static_site
plan.out
*.zip

archives/
.cursor/
.idea
.iml

# Mac OS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Miscellaneous
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Android
**/android/*

# iOS
**/ios/*

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Package files
*.jar
*.war
*.ear

# Mac OS
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.swp

# JavaScript/Node
*.eslintrc.js
*.prettierrc.js
*.watchmanconfig
jest.config.js
metro.config.js

# Ruby
*.bundle/

# Pods
**/Podfile.lock
**/Pods/*